



/* fixed background images */
.home {
  background: url(../images/bkg.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.challenge1 {
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/sensors-bun-mare-04.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.challenge2 {
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/bkg-plin-29.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.challenge3 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/ecosystem-bun-04.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution1 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/power.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution2 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/communication.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution3 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/manageability_cloudy.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution4 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/sensingwcitizens_cloudy.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution5 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/softsensing.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution6 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/business1.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solution7 { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/business2.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.team { 
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left:2px;
  background: url(../images/team.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about { 
  padding-top: 70px;
  padding-bottom: 100px;
  background: url(../images/sunset_bkg_scaffold.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#video { 
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left:2px;
  background: url(../images/team.png) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/*end of fixed background images*/



div.row{
  padding-bottom: 40px;
}

